@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

body {
    background-color: #F6F1F6;
}

#advisor-login-container {
    /* border: 2px solid red; */
    margin-top: -15px;
    display: flex;
    background-color: white;
    color: black;
    width: 505;
}

.error-messages {
    color: red;
}

#advisor-login-email {
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
}

.advisor-login-input {
    margin: .5rem 1rem .5rem .5rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #4C4C4C;
    font-family: 'Montserrat', sans-serif;
}

.advisor-login-input:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #8B478B;
}

#advisor-login-password {
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
}

#advisor-login-button {
    margin: 0 .5rem 0 .5rem;
    border-radius: 28px;
    border: 2px solid #6f1a6f;
    background-color: #6f1a6f;
    color: white;
    width: 10rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#advisor-login-button:hover {
    border: 2px solid #8B478B;
    background-color: #8B478B;
}

.nav-switch {
    margin-left: 1.5rem;
    color: #6f1a6f;
}

.nav-switch:hover {
    margin-left: 1.5rem;
    color: #33A9B3;
}

