@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

#create-subscription-container {
    /* border: 2px solid red; */
    background-color: #F6F1F6;
    margin-top: -400px;
    margin-bottom: -600px;
    padding: 25rem 25rem 25rem 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.create-sub-book-bubble {
    /* border: 2px solid red; */
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 1rem;
    width: 25%;
}

#create-subscription-form {
    border: 2px solid #C4A3C4;
    border-radius: 4px;
    /* padding-top: 30%; */
    margin-bottom: 15px;
}

#create-subscription-title {
    /* border: 2px solid yellow; */
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin-left: 2%;
    margin-bottom: 0;
}

.create-subscription-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
     /* border: 2px solid green; */
    /* margin-left: 2%; */
    padding: 1rem 0 0 0;
}

.create-subscription-label {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 1rem;
    padding: 0 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-subscription-credit {
    background-color: #ADDCE0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: -.5rem 1rem 1rem .5rem;
    border-radius: 4px;
    font-size: 20px;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-subscription-inputs {
    margin: .75rem 1rem 1rem .5rem;
    width: 60%;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #4C4C4C;
    font-family: 'Montserrat', sans-serif;
}

.create-subscription-inputs:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #8B478B;
}

#create-subscription-btn {
    margin: 0 .5rem 2rem .5rem;
    border-radius: 28px;
    border: 2px solid #6f1a6f;
    background-color: #6f1a6f;
    color: white;
    width: 20rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: .5rem;
    margin-left: .5rem;
    cursor: pointer;
}

#create-subscription-btn:hover {
    border: 2px solid #8B478B;
    background-color: #8B478B;
}

.create-sub-cancel-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #6f1a6f;
    margin-left: 2rem;
}

.create-sub-cancel-link:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #33A9B3;
    margin-left: 2rem;
}
