@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

body {
    background-image: url("https://images.unsplash.com/photo-1596890186985-0de375fc6fba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#home-page-greeting {
    position: static;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: -2;
    color: white;
    font-size: 55px;
    font-weight: bold;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.3));
}

.home-page-button {
    margin: 0 40rem 0 40rem;
    border-radius: 28px;
    border: 1px solid #6f1a6f;
    background-color: #fff;
    color: #6f1a6f;
    width: 30rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.home-page-button:hover {
    border: 2px solid #8B478B;
    background-color: #8B478B;
    color: white;
}