@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

#nav-bar {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    width: 100vw;
}

#nav-container{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #000000;
    /* z-index: 1; */
}

#site-title {
    max-height: 150px;
    margin-top: 1.5rem;
    margin-left: 0;
    font-family: 'Sofia', cursive;
    color: white;
    font-size: 2.3em;
}

.nav-links {
    color: white;
}