@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

#navbar {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    min-width: 100vw;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
}

#nav-container{
    /* border: 2px solid blue; */
    display: flex;
    /* height: 60px; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
    top: 0;
    width: 100%;
    background-color: #000000;
    /* z-index: 1; */
}

#site-title {
    /* max-height: 150px; */
    /* margin-top: 1rem; */
    margin-left: 15%;
    padding-right: 20%;
    font-family: 'Sofia', cursive;
    color: white;
    font-size: 2em;
    text-decoration: none;
    position: relative;
}

/* .nav-link-div {
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px solid red;
    margin: 0 2rem 0 2rem;
} */

.dropdown {
  border: 2px solid yellow;
  /* overflow: hidden; */
  position: relative;
  display: inline-block;
  min-width: 100vw;
}

.dropdown-btn {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: #2980B9;
}

.dropdown-btn:focus {
    border-bottom: 3px solid #2980B9;
}

#dropdown-contents {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-links {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-links:hover {
    background-color: #ddd
}

/* .nav-links {
    color: white;
    margin: 0 4rem 0 2rem;
}

#dropdown-contents .nav-links:hover {
    background-color: #ddd;
}

.nav-link-div:focus{
    outline: none;
    border-bottom: 6px solid yellow;
    cursor: pointer;
} */

.dropdown:hover #dropdown-contents {
  display: block;
}

.navbar-buttons {
    margin: 0 .5rem 0 .5rem;
    border-radius: 28px;
    border: 2px solid #6f1a6f;
    background-color: #6f1a6f;
    color: white;
    width: 10rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar-buttons:hover {
    border: 2px solid #8B478B;
    background-color: #8B478B;
}