@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Sofia&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sofia', cursive; */

#preferences-container {
    height: 100vh;
    margin-top: -5rem;
    padding-bottom: 5rem;
    background-color: #F6F1F6;
    display: flex;
}

#preferences-contents {
    margin: 100px 1rem 0 1rem;
}